
@{
//ViewBag.Title = "Index";
}

<h2>Catálogos</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Gestionar Expediente</h2>
        <p>@Html.ActionLink("Gestión de Expediente", "Index", "")</p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar cita</h2>
        <p>@Html.ActionLink("Gestión de Citas", "Index", "Citas")</p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar médicos</h2>
        <p>@Html.ActionLink("Gestión de Médicos", "Index", "")</p>
    </div>
</div>

