
@{
//ViewBag.Title = "Index";
}

<h2>Catálogos</h2>

<div class="row">
    <div class="col-md-4">
        <h2><img src="~/Content/imagenes/img_gestion_de_expediente_medico.png" class="img-responsive img-rounded img-catalogos" /></h2>
        <p>@Html.ActionLink("Gestión de expediente médico", "Index", "Cat_ExpMedico")</p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Content/imagenes/img_gestion_de_cita_medica.png" class="img-responsive img-rounded img-catalogos"/></h2>
        <p>@Html.ActionLink("Gestión de cita médica", "Index", "CM_Cita")</p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Content/imagenes/img_horario_atencion_medica.jpg" class="img-responsive img-rounded img-catalogos" /></h2>
        <p>@Html.ActionLink("Gestión de horario de atención médica", "Index", "Cat_HorarioServicio")</p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Content/imagenes/img_gestion_de_usuarios.png" class="img-responsive img-rounded img-catalogos" /></h2>
        <p>@Html.ActionLink("Gestión de usuario convenio", "Index", "CM_UsuarioExterno")</p>
    </div>
</div>

