
@{
//ViewBag.Title = "Index";
}

<h2>Catálogos</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Gestionar expediente médico</h2>
        <p>@Html.ActionLink("Gestión de expediente médico", "Index", "")</p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar cita médica</h2>
        <p>@Html.ActionLink("Gestión de cita médica", "Index", "Citas")</p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar horario de atención médica</h2>
        <p>@Html.ActionLink("Gestión de horario de atención médica", "Index", "Med_Medico")</p>
    </div>
    <div class="col-md-4">
        <h2>Gestionar usuario convenio</h2>
        <p>@Html.ActionLink("Gestión de usuario convenio", "Index", "UsuarioExterno")</p>
    </div>
</div>

